/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

#field_9_64 label,
#field_9_65 label,
#field_9_66 label,
#field_9_67 label,
#field_9_68 label,
.gform_wrapper .gf_step span.gf_step_number {
    display: none !important;
}

.gf_step_number {
    display: none;
}


/* Active */

.gf_step_active img.complete {
    display: none
}

.gf_step_active img.off {
    display: none
}


/* Pending */

.gf_step_pending img.complete {
    display: none
}

.gf_step_pending img.on {
    display: none
}


/* Completed */

.gf_step_completed .com-check {
    display: block;
    padding-left: 25px;
}

.gf_step_completed .com-check input:checked+label {
    padding-left: 2px;
}

.gf_step_completed img.complete {
    display: block;
    margin: 0 auto;
}

.gf_step_completed img.off {
    display: none
}

.gf_step_completed img.on {
    display: none
}

.gf_step_completed .gf_step_label,
.gf_step_active .gf_step_label,
.gf_step_next .gf_step_label {
    text-align: center;
}

.gf_step .com-check,
.gf_step .com-check>label {
    padding-left: 0;
    color: #354655 !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 48px;
}

.gf_step .com-check>input {
    visibility: hidden;
    position: absolute;
}


/*

.gf_step_active .com-check>label {
    padding-left: 0;
    color: #354655 !important;
    font-weight: 600;
    font-size: 14px;
}

.gf_step_completed .com-check>label {
    padding-left: 0;
    color: #00A6D2;
    font-weight: 700;
    font-size: 18px;
} */

.gf_step_active .com-check>label:before,
.gf_step_active input[type=checkbox]+label:after,
.gf_step .com-check>label:after,
.gf_step .com-check>label:before {
    display: none !important;
}

.gform_wrapper .gform_page_footer .button.gform_next_button,
.gform_wrapper .gform_page_footer .button.gform_previous_button,
#gform_19 #gform_submit_button_9,
#gform_12 #gform_submit_button_9,
#gform_12 .gform_button.button {
    border: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.gf_step.gf_step_completed .com-check>label:after,
.gf_step.gf_step_completed .com-check>label:before {
    display: none !important;
    content: '';
}

.gf_step .stepImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gf_step.gf_step_last .stepImg:before {
    content: '';
    height: 10px;
    width: 100%;
    background: #33425A;
    display: inline-block;
    position: absolute;
    max-width: 395px;
    margin-left: -170px;
}

.gf_step.gf_step_first .stepImg:before {
    content: '';
    height: 10px;
    width: 100%;
    background: #33425A;
    display: inline-block;
    position: absolute;
    max-width: 395px;
    margin-left: 170px;
}

.gf_step:nth-child(2) .stepImg:before {
    content: '';
    height: 10px;
    width: 110%;
    background: #33425A;
    display: inline-block;
    position: absolute;
    max-width: unset;
    margin-left: auto;
}

#field_9_58 {
    display: none;
}

.gform_wrapper .gform_page_footer.left_label,
.gform_wrapper .gform_page_footer.right_label {}

.gf_step:nth-child(2) {
    width: 100%;
}

.gf_step.gf_step_active .stepImg:before {
    background: #BED130;
}

.gf_step.gf_step_completed .stepImg:before {
    background: #BED130;
}

.gf_step .stepImg>img {
    z-index: 0;
}


/* step 3 */

.gform_wrapper form#gform_12 ul.gform_fields:not(.top_label) li.gfield_html_formatted {
    margin-left: 0 !important;
    padding: 0 !important;
    background: transparent;
}

#gform_19 .gfield_required {
    color: red;
}

#gform_19 .gf_page_steps,
#gform_12 .gf_page_steps {
    border-bottom: none;
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    margin: 0 auto;
}

#gform_19 .gf_step,
#gform_12 .gf_page_steps .gf_step {
    margin: 24px 0 24px 0px !important;
    opacity: unset !important;
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-bottom: 135px;
}

#gform_19 .gf_step span.steptitle,
#gform_12 .gf_step span.steptitle {
    margin-left: 0;
    display: block;
}

#gform_19 .gf_step p,
#gform_12 .gf_step p {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 15px;
    text-align: center;
    margin-top: 5px;
}

#gform_19 .gf_step_active span.steptitle,
#gform_12 .gf_step_active span.steptitle {
    color: #CE126E;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
}

#gform_19 .gf_step_completed span.steptitle,
#gform_12 .gf_step_completed span.steptitle {
    color: #00A6D2;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
}

#gform_19 .gf_step_pending span.steptitle,
#gform_12 .gf_step_pending span.steptitle {
    color: #9B9B9B;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
}

.agreement-content h4 {
    color: #333333;
    font-size: 19px;
    font-weight: bold;
}

.agreement-content p {
    color: #333333;
    font-size: 16px;
    line-height: 25px;
}

.agreement-content {
    background: #fff;
    overflow-y: scroll;
    height: 401px;
    padding: 42px 118px 22px 70px;
}

.signup-program {
    padding: 60px;
}

.agree-terms {
    color: #333333;
    margin: 25px !important;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
}

#gform_19 #label_9_23_1,
#gform_12 #label_9_23_1 {
    color: #333333 !important;
    font-size: 24px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
}

#gform_19 [type="checkbox"]:checked+label:before,
#gform_12 [type="checkbox"]:checked+label:before {
    border: 1px solid #777;
}

.gform_next_button,
#gform_12 .gform_button.button {
    padding: 5px 30px;
    height: 42.94px;
    color: #fff;
    width: 104px;
    border-radius: 5px;
    background-color: #CE126E;
    text-align: center;
}

.gform_previous_button {
    padding: 5px 30px;
    height: 42.94px;
    color: #fff;
    width: 104px;
    border-radius: 5px;
    background-color: #00A6D2;
    text-align: center;
}

.pay-content p {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.pay-content {
    justify-content: center;
}

.payment-toptext {
    color: #000000;
    font-size: 12px;
    line-height: 17px;
    text-align: center !important;
    background: #fff;
    padding: 25px 100px;
}

.w9-toptext {
    color: #000000;
    font-size: 12px;
    line-height: 17px;
    text-align: left;
    background: #fff;
    padding-bottom: 50px;
    padding-top: 50px !important;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 70px;
}

.gform_wrapper .ginput_complex span.ginput_cardinfo_left {
    clear: both;
}

#field_9_33 h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

#field_9_9 .gfield_label {
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 18px !important;
    text-align: center;
    color: #000000;
    width: 100% !important;
    padding: 0;
}

.gform_wrapper .gform_card_icon_container {
    text-align: center;
    height: auto !important;
}

.gform_wrapper .gform_card_icon_container div.gform_card_icon {
    display: inline-block;
    float: none;
}

.gform_wrapper.two-column_wrapper ul.gform_fields.gform_column>li#field_9_11 {
    visibility: hidden;
    position: absolute;
}

.gfield_label {
    color: #000000;
    font-size: 12px !important;
    font-weight: bold !important;
    letter-spacing: 0.92px;
    line-height: 15px !important;
}

.gform_wrapper input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background: #FFFFFF;
}

.upload-logo {
    float: left;
    padding: 20px;
}

#gform_19 li#field_9_34,
#gform_12 li#field_9_34 {
    margin-bottom: 50px;
}

#gform_19 #gform_submit_button_9,
#gform_12 #gform_submit_button_9 {
    padding: 5px 30px;
    height: 42.94px;
    color: #fff;
    width: 180px;
    border-radius: 5px;
    background-color: #CE126E;
    text-align: center;
}

.gform_wrapper.two-column_wrapper ul.gform_fields.gform_column {
    display: block;
    float: left;
    width: 50%;
}

.gform_wrapper.two-column_wrapper ul.gform_column li.gsection:first-child {
    display: none;
}

.gform_wrapper li.field_sublabel_above .ginput_complex input[type=text] {
    margin-bottom: 20px !important;
}

.gform_wrapper .ginput_complex .ginput_cardinfo_left span.ginput_card_expiration_container select {
    margin-bottom: 20px !important;
}

.gform_wrapper form ul.gform_fields:not(.top_label) li.gfield_html_formatted {
    margin-left: 0% !important;
    width: 100% !important;
}

.ginput_product_price_label {
    display: none;
}

.ginput_product_price,
.gform_wrapper span.ginput_total {
    color: #DE3585 !important;
    font-size: 30px !important;
    font-weight: bold;
    letter-spacing: -0.22px;
    line-height: 38px;
    text-align: right;
}

.mon-amount {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.22px;
    line-height: 38px;
    text-align: right;
}

@media(max-width:767px) {
    .signup-program #gform_19 .gf_step,
    .signup-program #gform_12 .gf_step {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    #gform_19 .gf_step .gf_step_label,
    #gform_12 .gf_step .gf_step_label {
        display: flex;
        align-items: center;
        text-align: left;
        padding: 0 15px 0 0;
    }
    .gf_step.gf_step_active .stepImg:before,
    .gf_step.gf_step_first .stepImg:before,
    .gf_step:nth-child(2) .stepImg:before,
    .gf_step.gf_step_last .stepImg:before {
        display: none !important;
    }
    #gform_19 .gf_step .gf_step_label .com-check,
    #gform_12 .gf_step .gf_step_label .com-check {
        margin-left: 0;
    }
    #gform_19 .gf_step .gf_step_label .com-check,
    #gform_12 .gf_step .gf_step_label .com-check {
        flex: 1;
    }
    #gform_19 .gf_step p,
    #gform_12 .gf_step p {
        text-align: left;
        color: #ffffff;
    }
    .gf_step_completed .com-check input:checked+label,
    .gf_step_active .com-check input:checked+label {
        display: block;
    }
    .gf_step_active .com-check input:checked+label:after {
        display: block !important;
        content: '';
        display: inline-block;
        width: 22px;
        height: 22px;
        border: 2px solid white;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        top: 12px !important;
        left: auto !important;
        right: 0;
        border: 2px solid white !important;
        visibility: hidden
    }
    .gf_step.gf_step_completed .com-check>label:after {
        left: auto !important;
        right: 0;
        top: 12px !important;
        border-color: #ffffff !important;
    }
    #gform_19 .gf_step_completed input[type="checkbox"]+label {
        padding-left: 0 !important;
    }
    .gf_step.gf_step_completed .com-check>label:before {
        left: auto !important;
        right: 10px !important;
        top: 5px !important;
        border-right-color: #ffffff !important;
        border-bottom-color: #ffffff !important;
        border: 0;
    }
    .gf_step_pending .gf_step_label {
        background: #9b9b9b;
    }
    .gf_step_completed .gf_step_label {
        background: #00A6D2;
    }
    .gf_step_active .gf_step_label {
        background: #CE126E;
    }
    .gf_step_pending .gf_step_label .steptitle,
    .gf_step_completed .gf_step_label .steptitle,
    .gf_step_active .com-check>label {
        color: #FFFFFF !important;
    }
    body.page-id-5882 .gform_wrapper ul li#field_9_26 {
        width: 100% !important;
        margin-top: 30px;
    }
    body.page-id-5882 .gform_wrapper ul li.field_description_below div.ginput_container_checkbox {
        width: 90% !important;
    }
    .signup-program .agreement-content {
        padding: 20px 20px !important;
        height: 400px !important;
    }
    .signup-program .gform_wrapper .gform_page_footer,
    .signup-program .gform_wrapper .gform_page_footer>.button {
        margin-bottom: 0;
    }
    #gform_19 #label_9_23_1,
    #gform_12 #label_9_23_1 {
        text-align: left;
        line-height: 26px;
        font-size: 22px;
        height: auto;
    }
    .signup-program #gform_19 .gform_page,
    .signup-program #gform_12 .gform_page {
        padding: 0 20px;
    }
    .gform_wrapper div.gform_card_icon {
        float: none !important;
        display: inline-block;
    }
    .gform_wrapper .gform_card_icon_container {
        text-align: center;
    }
    #field_9_9 .gfield_label {
        display: block;
        width: 100% !important;
    }
    .gform_wrapper.two-column_wrapper ul.gform_fields.gform_column>li#field_9_55 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .gform_wrapper.two-column_wrapper ul.gform_fields.gform_column>li#field_9_11 {
        left: 0;
        right: 0;
    }
    #gform_19 #gform_submit_button_9,
    #gform_12 #gform_submit_button_9,
    .gform_next_button,
    #gform_12 .gform_button.button {
        width: 100%;
    }
    .upload-logo {
        padding: 20px 10px;
    }
    .gform_wrapper label.gfield_label {
        font-size: 14px !important;
    }
    #field_9_33 h4,
    #field_9_9 .gfield_label {
        font-size: 16px !important;
    }
}

.gform_wrapper .gform_page_footer {
    border: none !important;
    text-align: right;
}

input#gform_next_button_19_25,
input#gform_next_button_19_27,
input#gform_previous_button_19_27,
input#gform_submit_button_19,
input#gform_previous_button_19 {
    padding: 11px 50px 11px 50px;
}

.gform_wrapper li.gfield.gfield_error,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
    background: transparent !important;
    border: 0 !important;
    padding: 0 !important;
}

.gform_wrapper .field_description_below .gfield_description {
    padding-top: 0 !important;
}

div#gform_page_19_1 {
    max-width: 750px;
    margin: 0 auto;
}

.gform_wrapper .payment_left {
    width: 50%;
    float: left;
    padding-right: 12% !important;
}

.gform_wrapper .payment_rightcol {
    float: left;
    width: 45% !important;
    clear: none !important;
}

.gform_wrapper .payment_left>.packageRow {
    padding: 0;
    margin-bottom: 60px;
}

.gform_wrapper .payment_left>.packageRow .packageHeader h3 {
    font-size: 14px;
}

.gform_wrapper .payment_left>.packageRow .packageHeader h3>span {
    font-weight: 500;
}

.gform_wrapper .payment_left .packageColumn {
    border: 1px solid #E7E3E3;
}

.gform_wrapper .payment_left .monthlySetup h2 {
    font-size: 28px;
}


/* velocity prime */


/* beaver css */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap');
.paymentPage input[type="text"] {
    width: 100% !important;
}

.paymentPage .ginput_container_select {
    -webkit-appearance: none;
    margin-top: -5px !important;
}

.paymentPage select {
    -webkit-appearance: none;
    padding-right: 40px !important;
}

.ginput_cardextras .ginput_cardinfo_right {
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
}

.ginput_cardextras .ginput_cardinfo_right>label {
    flex: 100%;
}

.gform_wrapper .ginput_complex span.ginput_cardextras {
    display: flex !important;
}

.field_sublabel_below {
    position: relative;
}

.field_sublabel_below .gform_card_icon_container {
    position: absolute;
    right: 0;
    top: -20px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.sectionHeader {
    text-align: center;
    margin-top: 30px
}

.packageRow {
    max-width: 1100px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.sectionHeader>.titleMain {
    color: #354655;
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
}

.sectionHeader>.titleMain>span {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: #364554;
    border-radius: 50%;
    line-height: 50px;
    margin-right: 15px;
    color: #fff !important;
}

.sectionHeader>.subTitle {
    color: #8D8F90;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    margin-top: 15px;
}

.packageRow {
    display: flex;
    padding: 40px 0;
}

.packageColumn {
    flex: 1;
    text-align: center;
    background: #364554;
    margin: 0 20px;
    color: #fff !important;
}

.packageColumn>div {
    padding: 10px 15px;
}

.packageColumn .packageHeader {
    background: #BED130;
    padding: 0;
    height: 89px;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.packageColumn .packageHeader>h3 {
    font-weight: 800;
    color: #fff;
    margin: 0;
}

.packageColumn .packageHeader>p {
    font-size: 10px;
    font-style: italic;
    margin-bottom: 0;
}

.monthlySub h2 {
    font-size: 40px;
    font-weight: bold !important;
    line-height: 49px;
    color: #fff !important;
    margin: 0;
}

.monthlySub h2>span {
    font-size: 14px;
    line-height: 29px;
    font-weight: 300;
}

.monthlySetup h2 {
    font-size: 40px;
    line-height: 49px;
    font-weight: 300 !important;
    color: #fff !important;
    margin: 0;
}

.monthlySetup h2>span {
    font-size: 14px;
    line-height: 29px;
}

.divider {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.36);
    max-width: 85%;
    margin: 5px auto;
}

.packageColumn .primeHeader {
    background: #F16558;
}

.packageColumn .premiumHeader {
    background: #7E485E;
}

.mostPopuler {
    position: relative;
}

.mostPopuler .packageHeader.premiumHeader:before {
    content: 'Most Populer';
    width: 65px;
    height: 65px;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 4px solid #7E485E;
    background: #fff;
    color: #7E485E;
    border-radius: 50%;
    transform: rotate(-25deg);
    position: absolute;
    top: -25px;
    left: -25px;
    box-shadow: -1px -1px 12px rgba(0, 0, 0, 0.2);
}

.packageFooter {
    text-align: center;
    margin: 10px 0 20px;
}

.packageFooter>.button {
    padding: 12px 20px;
    width: 150px;
    display: inline-block;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 13px;
    color: #33425A !important;
    background: #fff !important;
    border: 0;
    outline: 0;
}

.packageFooter>input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.packageFooter>.button:hover,
.packageFooter>input:checked+.button {
    background: #BED130 !important;
    color: #fff !important;
}

.advertisingPlan .packageColumn .packageHeader {
    height: 58px;
}

.advertisingPlan .packageColumn .packageFooter {
    margin-top: 30px;
}

.termsConditionText {
    padding: 30px !important;
    background: #fff;
    display: block;
    border: 1px solid #ddd;
}

.conditionCheckbox label.gfield_label {
    display: none !important;
}

.conditionCheckbox input[type="checkbox"] {
    margin: 0 !important;
}


/* end beaver */

.gform_wrapper .payment_left .packageColumn .packageHeader {
    height: 50px;
}

.gform_wrapper .payment_left .packageColumn .packageFooter {
    display: none;
}

.gform_wrapper .payment_left .packageColumn .advertising-pkg {
    background: #fff;
    color: #33425A !important;
}

.gform_wrapper .payment_left .packageColumn .advertising-pkg .checkboxPackagePayment {
    display: flex;
    align-items: center;
}

.gform_wrapper .payment_left .packageColumn .advertising-pkg .checkboxPackagePayment label.checkboxPackage_lab {
    font-size: 14px;
    font-style: italic;
    line-height: 21px;
    color: #9B9B9B;
    position: relative;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    padding-left: 50px;
    text-align: left;
    font-weight: 500;
    max-width: 250px;
}

.gform_wrapper .payment_left .packageColumn .advertising-pkg .checkboxPackagePayment label.checkboxPackage_lab h3 {
    margin: 0 !important;
    font-size: 20px;
    font-weight: bold;
    font-weight: bold;
    text-align: left;
}


/* prime end */

.gform_wrapper .payment_left .velocityDeposit .packageHeader {
    background: #364554;
}

.customeCheckbox input {
    position: absolute;
    visibility: hidden;
}

.customeCheckbox label:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 15px;
    border: 1px solid #777;
    height: 20px;
    width: 20px;
}

.customeCheckbox input~label {
    padding-left: 50px !important;
    display: flex !important;
    min-height: 52px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.customeCheckbox input:checked~label:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 19px;
    top: 9px;
    border: solid #BED130;
    height: 20px;
    border-width: 0 3px 3px 0;
    width: 11px;
    transform: rotate(45deg);
}

.gform_wrapper .paymentPage .gform_fields .gf_middle_third .ginput_container_select {
    padding-top: 5px;
}

.gform_wrapper .paymentPage .gform_fields .gf_middle_third .ginput_container_select select {
    height: 50px;
}

.gform_wrapper .paymentPage .gform_fields .gf_left_third,
.gform_wrapper .paymentPage .gform_fields .gf_middle_third,
.gform_wrapper .paymentPage .gform_fields .gf_right_third,
.gform_wrapper .paymentPage .gform_fields .gfield.gfield_error.gf_left_third,
.gform_wrapper .paymentPage .gform_fields .gfield.gfield_error.gf_middle_third,
.gform_wrapper .paymentPage .gform_fields .gfield.gfield_error.gf_right_third {
    float: left !important;
    width: 15% !important;
    display: inline-flex !important;
    flex-direction: column !important;
}

.gform_wrapper .paymentPage .gform_fields .gf_left_third .ginput_container_text,
.gform_wrapper .paymentPage .gform_fields .gf_middle_third .ginput_container_select,
.gform_wrapper .paymentPage .gform_fields .gf_right_third .ginput_container_text {
    margin-top: 0;
}

.fullWidthField .ginput_container_text>input {
    width: 100% !important;
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container,
.gform_wrapper li.gfield.gfield_error.gfield_contains_required label.gfield_label {
    margin-top: 0 !important;
}

.package_deposit {
    display: none;
}

.packageRow.velocityDepositSec {
    display: block;
}

.velocityDepositSec .chargeToday {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.velocityDepositSec .chargeToday .chargeTodaytotal {
    font-size: 40px;
    font-weight: bold;
    color: #33425A !important;
}

.velocityDepositSec .chargeTodayDesc h4 {
    font-size: 18px;
    font-weight: bold;
}

.velocityDepositSec .chargeTodayDesc span {
    font-size: 14px;
    font-style: italic;
}

.ginput_container_creditcard label {
    display: block !important;
}

.gform_card_icon_container.gform_card_icon_style1 {
    position: absolute;
    right: 0;
    top: -15px;
}

.ginput_container_creditcard {
    position: relative;
}

#field_19_50 label,
#field_19_50 .ginput_container,
#field_19_51 label,
#field_19_51 .ginput_container {
    position: absolute;
    visibility: hidden;
}

.top_label div.ginput_container input::placeholder,
.top_label div.ginput_container select::placeholder,
input::placeholder {
    color: #ccc !important;
    opacity: 1 !important;
}

#gform_19 .top_label div.ginput_container input,
#gform_19 .top_label div.ginput_container select {
    border-color: #e6e6e6;
    background: #fcfcfc;
    border-radius: 4px;
}

#gform_19 li.gfield.gfield_error div.ginput_container input,
#gform_19 li.gfield.gfield_error div.ginput_container select {
    border-color: #ce0000;
}

#field_19_50 .validation_message {
    padding: 10px !important;
    text-align: center;
    border: 1px solid #ce0000;
}

@media(max-width:1024px) {
    /* payment info */
    .gform_wrapper .payment_left {
        width: 42%;
        padding-right: 2% !important;
    }
    .gform_wrapper .payment_rightcol,
    .gfield_error.payment_rightcol {
        width: 58% !important;
    }
    .gform_wrapper .paymentPage .gform_fields .gf_left_third,
    .gform_wrapper .paymentPage .gform_fields .gf_middle_third,
    .gform_wrapper .paymentPage .gform_fields .gfield.gfield_error.gf_left_third,
    .gform_wrapper .paymentPage .gform_fields .gfield.gfield_error.gf_middle_third {
        width: 16.8% !important;
    }
    .gform_wrapper .paymentPage .gform_fields .gf_right_third,
    .gform_wrapper .paymentPage .gform_fields .gfield.gfield_error.gf_right_third {
        width: 22% !important;
    }
    .gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error {
        margin-top: 16px !important;
    }
    .gform_wrapper .ginput_complex span.ginput_cardextras .ginput_cardinfo_right,
    .gform_wrapper .gfield_error .ginput_complex span.ginput_cardextras .ginput_cardinfo_right {
        width: 50%;
    }
    .payment_left>.packageRow {
        margin-bottom: 20px;
    }
}

@media(max-width:992px) {
    .packageColumn {
        margin: 0 10px;
    }
    .advertisingPlan .packageColumn .packageFooter {
        margin-top: 10px;
    }
    .packageColumn .packageHeader>h3 {
        font-size: 18px;
    }
    .monthlySetup h2,
    .monthlySub h2 {
        font-size: 34px;
    }
    .mostPopuler .packageHeader.premiumHeader:before {
        top: -35px;
        left: -35px;
    }
}

@media(max-width:767px) {
    #gform_19 .gf_page_steps,
    #gform_12 .gf_page_steps {
        flex-direction: column;
    }
    .gform_wrapper .gf_step {
        height: auto;
    }
    #gform_19 .gf_step,
    #gform_12 .gf_page_steps .gf_step {
        margin: 0 !important;
        padding-bottom: 0;
        height: auto;
    }
    #gform_19 .gf_step .gf_step_label,
    #gform_12 .gf_step .gf_step_label {
        padding: 10px 15px;
    }
    .gf_step .stepImg {
        margin: 0 20px;
    }
    .gf_step .stepImg>img {
        height: 60px;
    }
    /* payment */
    .gform_wrapper .payment_left>.packageRow {
        margin-bottom: 25px;
    }
    .gform_wrapper .payment_left {
        width: 100%;
        padding-right: 0% !important;
    }
    .gform_wrapper .payment_rightcol,
    .gfield_error.payment_rightcol {
        width: 100% !important;
        float: none;
    }
    .gform_wrapper .paymentPage .gform_fields .gf_left_third,
    .gform_wrapper .paymentPage .gform_fields .gf_middle_third,
    .gform_wrapper .paymentPage .gform_fields .gf_right_third,
    .gform_wrapper .paymentPage .gform_fields .gfield.gfield_error.gf_left_third,
    .gform_wrapper .paymentPage .gform_fields .gfield.gfield_error.gf_middle_third,
    .gform_wrapper .paymentPage .gform_fields .gfield.gfield_error.gf_right_third {
        width: 100% !important;
        padding: 0;
    }
    body .gform_wrapper ul li.gfield:last-child {
        clear: both !important;
    }
    .field_sublabel_below .gform_card_icon_container {
        top: -15px;
    }
    body .gform_wrapper ul li.gfield {
        margin-top: 0;
    }
    .packageRow {
        flex-direction: column;
    }
    .packageColumn {
        margin: 10px 10px;
    }
    .mostPopuler .packageHeader.premiumHeader:before {
        top: -15px;
        left: -15px;
    }
    .gform_wrapper .ginput_complex span.ginput_cardextras {
        flex-direction: column;
    }
    .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_left select,
    .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield div.ginput_complex span.ginput_right select,
    .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield input[type=radio],
    .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
        margin-left: 0;
    }
}

select#input_19_52,
select#input_19_53 {
    -webkit-appearance: none;
    margin-top: 2px !important;
}